# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
Flutter/build/

# Archivos generados por Flutter que exceden el límite de tamaño de GitHub
Flutter/build/app/intermediates/assets/debug/flutter_assets/kernel_blob.bin
Flutter/build/6e6b85fcb6a74d4044f5a4186ca56e0e.cache.dill.track.dill
Flutter/build/app/outputs/apk/debug/app-debug.apk



# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
